.gitconfig filter=git-crypt diff=git-crypt
.gpgrc filter=git-crypt diff=git-crypt
.muttrc filter=git-crypt diff=git-crypt
.profile filter=git-crypt diff=git-crypt
.vimrc.local filter=git-crypt diff=git-crypt
.vimrc.bundles.local filter=git-crypt diff=git-crypt
env.example filter=git-crypt diff=git-crypt
more.sh filter=git-crypt diff=git-crypt
.xinitrc filter=git-crypt diff=git-crypt
